/* Size for brand */

nav {
    .navbar-brand {
        font-size: xx-large;
        .blue {
            color: #537fbe;
        }
        .red {
            color: #ea433b;
        }
        .yellow {
            color: #f5b82e;
        }
        .green {
            color: #2e944b;
        }
    }
}

.table, td {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}

.hello {
    div {
        color: blue;
    }
    span {
        color: purple;
    }
}

.quadEQ {
    width: 40vw;
}

.todo {
    text-align: left;
}

.regular, .cWasZero {
    display: flex;
    flex-flow: row wrap;
}
.step1, .step2, .step3, .step4, .step5, .step6 {
    display: flex;
    flex-flow: column nowrap;
    width: 25vw;
    margin: 2vw;
    align-items: flex-end;
}

.btn {
    width: fit-content;
}

.contents {
    display: flex;
}

.card {
    margin: 25px;
}