/* Size for brand */

nav {
    .navbar-brand {
        font-size: xx-large;
        .blue {
            color: #537fbe;
        }
        .red {
            color: #ea433b;
        }
        .yellow {
            color: #f5b82e;
        }
        .green {
            color: #2e944b;
        }
    }
}

.table, td {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: right;
}

.hello {
    div {
        color: blue;
    }
    span {
        color: purple;
    }
}

#quad {
    width: 50vw;
}

.todo {
    text-align: left;
}