{% extends "layout.html" %}


{% block title %}
    Quadratics (a<1 or a>1)
{% endblock %}


{% block javascript%}
    <script>
        let factCoeff = {};
        let standCoeff = {};
        let roots = [];

        function newproblem() {

            
            const factCoeffsByLetter = ["A", "B", "C", "D"];
            for (i of factCoeffsByLetter)
            {
                factCoeff[i] = Math.floor(Math.random() * 16) - 8;
            } 

            factCoeff["A"] = Math.abs(factCoeff["A"]);
            factCoeff["C"] = Math.abs(factCoeff["C"]);


            console.log("factCoeff is:");
            console.log(factCoeff);

            
            standCoeff["A"] = factCoeff["A"] * factCoeff["C"];
            standCoeff["B"] = factCoeff["A"] * factCoeff["D"] + factCoeff["B"] * factCoeff["C"];
            standCoeff["C"] = factCoeff["B"] * factCoeff["D"];
            
            console.log("standCoeff is:");
            console.log(standCoeff);
            

            document.getElementById("standCoeffA").innerHTML = standCoeff["A"];
            document.getElementById("standCoeffB").innerHTML = standCoeff["B"];
            document.getElementById("standCoeffC").innerHTML = standCoeff["C"];


            roots = [-1 * factCoeff["B"] / factCoeff["A"], -1 * factCoeff["D"] / factCoeff["C"]];

            console.log("roots are:");
            console.log(roots);
        }

    
        function solve() {
            if (standCoeff["C"] == 0) 
            {
                // Write something simple for if C is 0
                // Should just
                // Step1: factor c out and rewrite EQ
                // Step2: and divide neg B by A
                
                
                let xOut = `x(${standCoeff["A"]}x + (${standCoeff["B"]}))`;
                console.log(xOut);

                let step1 = document.getElementsByClassName("cWasZero")[0].getElementsByClassName("step1")[0];
                let list1 = document.createTextNode(xOut);
                step1.appendChild(list1);
                step1.removeAttribute("hidden");

            }
            
            // Step 1 - Create factors list for product of coefficients A
            let factors_A = [];
            for (let x = 0; x <= Math.abs(standCoeff["A"]); x++)
            {
                if ((Math.abs(standCoeff["A"]) % x) == 0) 
                {
                    factors_A.push(x);
                }
            }

            console.log("factors_A are:");
            console.log(factors_A);

            // Add nodes to hidden divs for solution, to be displayed when button is pressed
            let step1 = document.getElementsByClassName("regular")[0].getElementsByClassName("step1")[0];
            let list1 = document.createElement("ul");
            for (i in factors_A)
            {
                let item = document.createElement("li");
                let text = document.createTextNode(factors_A[i]);
                item.appendChild(text);
                list1.appendChild(item);
            }
            let button1 = document.createElement("button");
            let buttonText1 = document.createTextNode("Next");
            button1.appendChild(buttonText1);
            button1.setAttribute("class", "btn btn-secondary");
            step1.appendChild(list1);
            step1.appendChild(button1);
            step1.removeAttribute("hidden");


            // Step 2 - Check which pairs of factors multiply to make A
            let iter2 = Math.ceil(factors_A.length / 2);
    
            let factor_pairsA = [];
            for (let i = 0; i < iter2; i++) 
            {
                factor_pairsA.push([factors_A[i], factors_A[factors_A.length - i - 1]]);
            }

            console.log("factor_pairs are:");
            console.log(factor_pairsA[0], factor_pairsA[1], factor_pairsA[2]);


            let step2 = document.getElementsByClassName("step2")[0];

            // Creating an unordeered list to show the pairs
            
            let list2 = document.createElement("ul");
            for (i in factor_pairsA)
            {
                let item2 = document.createElement("li");
                let text2 = document.createTextNode(factor_pairsA[i]);
                item2.appendChild(text2);
                list2.appendChild(item2);
            }

            let button2 = document.createElement("button");
            let buttonText2 = document.createTextNode("Next");
            button2.appendChild(buttonText2);     
            button2.setAttribute("class", "btn btn-secondary");
            step2.appendChild(list2);
            step2.appendChild(button2);
            




            // Step 3 - Create factors list for product of coefficients C
            let factors_C = [];
            for (let x = 0; x <= Math.abs(standCoeff["C"]); x++)
            {
                if ((Math.abs(standCoeff["C"]) % x) == 0) 
                {
                    factors_C.push(x);
                }
            }

            console.log("factors_C are:");
            console.log(factors_C);

            // Add nodes to hidden divs for solution, to be displayed when button is pressed
            let step3 = document.getElementsByClassName("regular")[0].getElementsByClassName("step3")[0];
            let list3 = document.createElement("ul");
            for (i in factors_C)
            {
                let item = document.createElement("li");
                let text = document.createTextNode(factors_C[i]);
                item.appendChild(text);
                list3.appendChild(item);
            }
            let button3 = document.createElement("button");
            let buttonText3 = document.createTextNode("Next");
            button3.appendChild(buttonText3);
            button3.setAttribute("class", "btn btn-secondary");
            step3.appendChild(list3);
            step3.appendChild(button3);


            // Step 4 - Check which pairs of factors multiply to make C
            let op = 1;
            let flip = 1;
            if (standCoeff["C"] < 0) // if C is negative, op makes you check factor pairs where one is negative 
            {
                op = -1;
            }
            else if (standCoeff["B"] < 0) // if B is negative, and C was also positive, then makes all your final answers the flipped sign of what they would have been
            {
                flip = -1;
            }
            
            let iter4;

            if (op == -1)
            {
                iter4 = Math.ceil(factors_C.length - 1);
            }
            else
            {
                iter4 = Math.ceil(factors_C.length / 2);
            }

            let factor_pairsC = [];
            for (let i = 0; i < iter4; i++) 
            {
                factor_pairsC.push([op * factors_C[i], factors_C[factors_C.length - i - 1]]);
            }

            console.log("factor_pairsC are:");
            console.log(factor_pairsC[0], factor_pairsC[1], factor_pairsC[2]);


            let step4 = document.getElementsByClassName("step4")[0];

            // Creating an unordeered list to show the pairs
            
            let list4 = document.createElement("ul");
            for (i in factor_pairsC)
            {
                let item4 = document.createElement("li");
                let text4 = document.createTextNode(factor_pairsC[i]);
                item4.appendChild(text4);
                list4.appendChild(item4);
            }

            let button4 = document.createElement("button");
            let buttonText4 = document.createTextNode("Next");
            button4.appendChild(buttonText4);     
            button4.setAttribute("class", "btn btn-secondary");
            step4.appendChild(list4);
            step4.appendChild(button4);

            
            // Step 5 - Test which pairs add to B, if any

            // Display the correct factor pairs of A and C
            // and
            // Display the factored form of the EQ


            let step5 = document.getElementsByClassName("step5")[0];
            
            let para = document.createElement("p");
            let A5Check = document.createTextNode(`${factCoeff["A"]}x * ${factCoeff["C"]}x = ${standCoeff["A"]}x^2`);
            para.appendChild(A5Check);
            step5.appendChild(para);

            para = document.createElement("p");
            let C5Check = document.createTextNode(`${factCoeff["B"]} * ${factCoeff["D"]} = ${standCoeff["C"]}`);
            para.appendChild(C5Check);
            step5.appendChild(para);

            para = document.createElement("p");
            let B5Check = document.createTextNode(`${factCoeff["A"]}x * ${factCoeff["D"]}x + ${factCoeff["B"]}x * ${factCoeff["C"]}x = ${standCoeff["B"]}`);
            para.appendChild(B5Check);
            step5.appendChild(para);

            let button5 = document.createElement("button");
            let buttonText5 = document.createTextNode("Next");
            button5.appendChild(buttonText5);
            button5.setAttribute("class", "btn btn-secondary");
            step5.appendChild(button5);


            // Step 6 - Display the factored form
            let step6 = document.getElementsByClassName("step6")[0];

            let factoredEQ = document.createTextNode(`(${factCoeff["A"]}x + ${factCoeff["B"]})(${factCoeff["C"]}x + ${factCoeff["D"]})`);
            
            para = document.createElement("p");
            para.appendChild(factoredEQ);
            step6.appendChild(para);

            para = document.createElement("p");
            para.append(document.createTextNode(roots));
            step6.appendChild(para);
            




            button1.addEventListener("click", function()
            {
                document.getElementsByClassName("step2")[0].removeAttribute("hidden");
            });

            button2.addEventListener("click", function()
            {
                document.getElementsByClassName("step3")[0].removeAttribute("hidden");
            });

            button3.addEventListener("click", function()
            {
                document.getElementsByClassName("step4")[0].removeAttribute("hidden");
            });

            button4.addEventListener("click", function()
            {
                document.getElementsByClassName("step5")[0].removeAttribute("hidden");
            });

            button5.addEventListener("click", function()
            {
                document.getElementsByClassName("step6")[0].removeAttribute("hidden");
            });

        }
        
    </script>
{% endblock %}


{% block main %}

    <div class="aValue"> 
        <button class="btn btn-primary" onclick="newproblem()">Start</button>
    </div>

    <br>

    <div>
        <span id="equation">
            <h2>
                <span id="standCoeffA"> A</span> x <sup>2</sup> + <span id="standCoeffB"> B </span> x + <span id="standCoeffC"> C </span> = 0

            </h2>
        </span>    
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>


    <h2>Practice with the Solution solver!</h2>
    <button class="btn btn-primary" onclick="solve()">Solve</button>


    <div class="regular">
        <div class="step1" hidden>
            <div>
                1) First, make a list of the factors of the coefficient A:
            </div>
        </div>

        <div class="step2" hidden>
            <div>
                2) Then, find all the pairs of factors that multiply to A:
            </div>
        </div>

        <div class="step3" hidden>
            <div>
                3) Now, make a list of the factors of the coefficient C:
            </div>
        </div>

        <div class="step4" hidden>
            <div>
                4) Then, find all the pairs of factors that multiply to C:
            </div>
        </div>

        <div class="step5" hidden>
            <div>
                5) Nearing the end, find which pairs of factors for A and C create a factored form of the equation with the correct B coefficient:
            </div>
        </div>

        <div class="step6" hidden>
            <div>
                6) Finally, write the quadratic equation in factored form, and find the roots
            </div>
        </div>
        
    </div>

    <div class="cWasZero" hidden>
        <div class="step1">
            <div>
                First, factor x out of the function
            </div>
        </div>
    </div>

{% endblock %}
