{% extends "layout.html" %}


{% block title %}
    Quadratics Test (a=1)
{% endblock %}


{% block javascript%}
    <script>
        function difficulty() {
            document.getElementsByClassName("problems")[0].removeAttribute("hidden");
            document.getElementById("easysolver").removeAttribute("hidden");
            console.log({{coeffB}});
            console.log({{coeffC}});
        }
        
    </script>
{% endblock %}


{% block main %}

    <img src="../static/quadraticEQs.png" class="quadEQ" alt="Example of a Quadratic Function">

    <br>

    <div class="aValue"> 
        <button class="btn btn-primary" onclick="difficulty()">Show the Problem</button>
    </div>

    <br>

    <div class="problems" hidden="true">
        <div>
            <br>
            Solve x <sup>2</sup> + <span>{{coeffB}}</span> x + <span>{{coeffC}}</span> = 0
        </div>
    </div>

    <br>

    <div id="easysolver" hidden>
        <h2>Enter your Solution here!</h2>

        <br>

        <form class="regular" method="post" action="/quadraticsEasyTest">
            <div class="solve">
                x = <input autocomplete="off" id="first_solution" name="first_solution" class="form-control" placeholder="First Solution" type="number">
                x = <input autocomplete="off" id="second_solution" name="second_solution" class="form-control" placeholder="Second Solution" type="number">
                <button class="btn btn-info">Check</button>
            </div>
        </form>
    </div>
{% endblock %}