{% extends "layout.html" %}


{% block title %}
    Student Test (a<1 or a>1)
{% endblock %}


{% block javascript %}
   <script>
        function start()
        {
            const standCoeffA = document.getElementById("standCoeffA").value;
            const standCoeffB = document.getElementById("standCoeffB").value;
            const standCoeffC = document.getElementById("standCoeffC").value;

            document.getElementById("coeffA").innerHTML = standCoeffA;
            document.getElementById("coeffB").innerHTML = standCoeffB;
            document.getElementById("coeffC").innerHTML = standCoeffC;
        }
    </script>
{% endblock %}


{% block main %}
    <div id="problem">
        <h1>
            <span id="coeffA"> A</span> x <sup style="font-size: 35px">2</sup> + <span id="coeffB"> B </span> x + <span id="coeffC"> C </span> = 0
        </h1>
    </div>

    <br>

    <div class="aValue"> 
        <button class="btn btn-primary" onclick="start()">Show the Problem</button>
    </div>

    <br>
    <br>

    <h2>Enter your Solutions here! (For new question, leave empty and hit "Check")</h2>
    
    <form class="answer" method="post" action="/studentTestHard">
        <div>
            <input autocomplete="off" name="guess1" placeholder="1st Root" type="text">
            <input autocomplete="off" name="guess2" placeholder="2nd Root" type="text">
            <button class="btn btn-primary">Check</button>
        </div>

        <div hidden class="standCoeff">
            <input id="standCoeffA" name="standCoeffA" value="{{ standCoeff[0] }}">
            <input id="standCoeffB" name="standCoeffB" value="{{ standCoeff[1] }}">
            <input id="standCoeffC" name="standCoeffC" value="{{ standCoeff[2] }}">
    
            <input id="factCoeffA" name="factCoeffA" value="{{ factCoeff[0] }}">
            <input id="factCoeffB" name="factCoeffB" value="{{ factCoeff[1] }}">
            <input id="factCoeffC" name="factCoeffC" value="{{ factCoeff[2] }}">
            <input id="factCoeffD" name="factCoeffD" value="{{ factCoeff[3] }}">
        </div>

    </form>


{% endblock %}