{% extends "layout.html" %}


{% block title %}
    Activities
{% endblock %}

{% block javascript %}
    <script>
        
    </script>
{% endblock %}


{% block main %}
    <div class="contents">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Quadratic EQs">
            <div class="card-body">
              <h5 class="card-title">Quadratic Equations</h5>
              <p class="card-text">Solve Quadratic Equations Test, where a=1</p>
              <a href="/quadraticsEasyTest" class="btn btn-primary">Begin</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Quadratic Equations</h5>
              <p class="card-text">Solve Quadratic Equations Solver, where a=1</p>
              <a href="/quadraticsEasySolver" class="btn btn-primary">Begin</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Quadratic Equations</h5>
              <p class="card-text">Solve Quadratic Equations Solver Student Easy, where a=1</p>
              <a href="/SolverStudentEasy" class="btn btn-primary">Begin</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Quadratic Equations</h5>
              <p class="card-text">Teacher-led Quadratic Equation solver, where a > 1 or a < 1</p>
              <a href="/teacherSolverHard" class="btn btn-primary">Begin</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Quadratic Equations</h5>
              <p class="card-text">Student-led Quadratic Equation solver, where a > 1 or a < 1</p>
              <a href="/studentSolverHard" class="btn btn-primary">Begin</a>
            </div>
          </div>
          
    </div>
{% endblock %}