{% extends "layout.html" %}


{% block title %}
    Activities
{% endblock %}

{% block javascript %}
    <script>
        
    </script>
{% endblock %}


{% block main %}
    <div class="contents">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Solving Quadratic Equations</h5>
              <p class="card-text">Easier: Teacher</p>
              <a href="/quadraticsEasySolver" class="btn btn-primary">Begin</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Solving Quadratic Equations</h5>
              <p class="card-text">Easier: Student </p>
              <a href="/SolverStudentEasy" class="btn btn-primary">Begin</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Quadratic EQs">
            <div class="card-body">
              <h5 class="card-title">Solving Quadratic Equations</h5>
              <p class="card-text">Easier: Test</p>
              <a href="/quadraticsEasyTest" class="btn btn-primary">Begin</a>
            </div>
          </div>
    </div>
    <div class="contents">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Solving Quadratic Equations</h5>
              <p class="card-text">Harder: Teacher</p>
              <a href="/teacherSolverHard" class="btn btn-primary">Begin</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Solving Quadratic Equations</h5>
              <p class="card-text">Harder: Student</p>
              <a href="/studentSolverHard" class="btn btn-primary">Begin</a>
            </div>
          </div>
          
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/quadraticEQs.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Solving Quadratic Equations</h5>
              <p class="card-text">Harder: Test</p>
              <a href="/studentTestHard" class="btn btn-primary">Begin</a>
            </div>
          </div>
    </div>
{% endblock %}