{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block javascript %}
    <script>
        
    </script>
{% endblock %}


{% block main %}
    

    <div class="imgContainer">
        <img src="/static/classroom.png" alt="picture of a classroom">
        <div class="bottom"> 
            <p>Practice Practice Practice</p>
        </div>
    </div>

    <ol class="todo"> 
        Todo Sam
        <li>
            Add a teacher view, where they can see the progress of all of their students
        </li>

        <li>
            Make the activities side scroll, while still showing the progress collumn on the left.
            <br> Same for students in the teacher view
            <br> Need more activities first
        </li>

        <li>

        </li>
    </ol>

    <ol class="todo">
        Todo Sam:
        <li>
            Touch up formatting on both a = 1 pages. 
            Have studentsolvereasy add attempts to the db and the table on "my profile".
        </li>

        Todo Jack:
        <li>
            Remove buttons after each step on solverhard (a!=1)
            Add input fields (optional)
            More CSS (Sam's example for house style) Cards and backgrounds and scrolling
        </li>

        <li>
            Implement solving when a != 1. You're the math guy! Need be, we always fall back on the quadratic formula, but that's boring
        </li>

        <li>
            It's also showing the next questions/answer on each page too early, the one from the question API
        </li>

        <li>
            Instead of hard or easy problems, let's make it just refresh the page with new easy problems. A hidden get request behind the scenes
            To do this, we'll need to pass parameters to the render_tempalte function, like it is already
            BUT, now it will have to show the problem if there is one passes, and nothing if their is not.
            Probably some sort of "does problem exist" logic
        </li>
    </ol>
{% endblock %}