{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block javascript %}
    <script>
        
    </script>
{% endblock %}


{% block main %}
    

    <div class="imgContainer">
        <img src="/static/classroom.png" alt="picture of a classroom">
        <div class="bottom"> 
            <p>Practice Practice Practice</p>
        </div>
    </div>

    <ol class="todo">
        Todo Sam:
        <li>
            Have studentsolvereasy add attempts to the db and the table on "my profile".
        </li>    
        <li>
            Get strip function working
        </li>

        Todo Jack:
        <li>
            Remove practice quiz (unless....)
            Add input fields
            More CSS (Sam's example for house style) Cards and backgrounds and scrolling (optional)
            +whatever else
        </li>
    </ol>
{% endblock %}