{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block javascript %}
    <script>
        
    </script>
{% endblock %}


{% block main %}
    <ol class="todo"> 
        Todo Sam
        <li>
            Add a teacher view, where they can see the progress of all of their students
        </li>

        <li>
            Make the activities side scroll, while still showing the progress collumn on the left.
            <br> Same for students in the teacher view
            <br> Need more activities first
        </li>

        <li>

        </li>
    </ol>

    <ol class="todo">
        Todo Sam:
        <li>
            Find a way to make the website extract the coefficients itself, so user doesn't have to    
        </li>

        <li>
            Implement solving when a != 1. You're the math guy! Need be, we always fall back on the quadratic formula, but that's boring
        </li>

        <li>
            It's also showing the next questions/answer on each page too early, the one from the question API
        </li>

        <li>
            
                Instead of hard or easy problems, let's make it just refresh the page with new easy problems. A hidden get request behind the scenes
                To do this, we'll need to pass parameters to the render_tempalte function, like it is already
                BUT, now it will have to show the problem if there is one passes, and nothing if their is not.
                Probably some sort of "does problem exist" logic
        </li>
    </ol>


    <div>
        <table class="table table-striped table-dark table-bordered">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Solving Quadratics</th>
                    <th>Activity 2</th>
                    <th>Activity 3</th>
                    <th>Activity 4</th>
                </tr>
            </thead>
            <tbody>
                
                <!-- List all holdings for the given user -->
                <tr>
                    <td>Questions Attempted</td>
                    <td>Todo</td>
                    <td>Todo</td>
                    <td>Todo</td>
                    <td>Todo</td>
                </tr>

                <tr>
                    <td>Questions Correct</td>
                    <td>Todo</td>
                    <td>Todo</td>
                    <td>Todo</td>
                    <td>Todo</td>
                </tr>

                <tr>
                    <td>Confident?</td>
                    <td>Todo</td>
                    <td>Todo</td>
                    <td>Todo</td>
                    <td>Todo</td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Cash</strong></td>
                    <td><em>Money</em></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td><strong>Total</strong></td>
                    <td><em>Power</em></td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}