{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block javascript %}
    <script>
        
    </script>
{% endblock %}


{% block main %}
    
    <div>
        <table class="table table-striped table-dark table-bordered">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Attempted</th>
                    <th>Correct</th>
                </tr>
            </thead>
            <tbody>
                
                <!-- List all holdings for the given user -->
                {% for row in rows %}
                <tr>
                    <td>{{ row["title"] }}</td>
                    <td>{{ row["attempted"] }}</td>
                    <td>{{ row["correct"] }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <footer>
        <form id="cleartable" method="post" action=""/profile">
            <button id="cleartableBtn" class="btn btn-info" type="submit">Delete profile</button>
        </form> 
    </div> </footer>
{% endblock %}