{% extends "layout.html" %}


{% block title %}
    Solver
{% endblock %}


{% block javascript%}
    
{% endblock %}


{% block main %}
    <img src="../static/quadraticEQs.png" id="quad" alt="Example of a Quadratic Function">

    <form class="tosolve" method="post" action="/solver">
        <input autocomplete="off" name="coeffA" placeholder="Coeffient of A" type="number">
        <input autocomplete="off" name="coeffB" placeholder="Coeffient of B" type="number">
        <input autocomplete="off" name="coeffC" placeholder="Coeffient of C" type="number">

        <input type="submit" value="Solve">
    </form>
{% endblock %}